@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	background-image: url('bg.jpeg');
	text-align: center;
	font-family: 'Lato';
}

h1 {
	font-size: 44px;
	font-weight: 700;
	margin: 10px 0 30px 0;
}

h2 {
	font-size: 33px;
	font-weight: 700;
	margin: 50px 0;
}

#search {
	padding: 10px 20px;
	font-size: 22px;
	font-weight: 400;
	margin: 15px 15px 15px 15px;
	background-color: rgb(41, 128, 185);
	border-radius: 5px;
	border: 0;
	color: #fff;
	margin-right: 50px;
}

#search:hover {
	background-color: rgb(52, 152, 219);
	cursor: pointer;
}

#country-name {
	padding: 10px 0;
	line-height: 5px;
	font-size: 18px;
	margin-left: 10px;
	text-transform: uppercase;
	text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
	background-color: rgb(52, 152, 219);
	margin: 50px 0 20px 30%;
	padding: 10px 0;
	width: 600px;
	font-size: 22px;
	font-weight: 400;
	
}

li:nth-of-type(2)::before{
	content: "Stolica: ";
	margin-right: 30px;
}

li:nth-of-type(3)::before{
	content: "Region: ";
	margin-right: 30px;
}

li:nth-of-type(4)::before{
	content: "Populacja: ";
	margin-right: 30px;
}


